@model PizzaShopOnline.BAU.Site.Models.PizzaModel
@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pizza Shop</title>
</head>
<body>

    <div class="container">
        <h1> Modify pizza </h1>

        @using (Html.BeginForm("SelectedPizza", "Home", FormMethod.Post))
        {

            <p>
                BaseType :
                @Html.DropDownListFor(m => m.PizzaBase,
                 new SelectList(Enum.GetValues(typeof(BaseType))), Model.PizzaBase);
            </p>

            <p> Price </p>
            <p> @Model.Price </p>

            @Html.HiddenFor(m => m.Price);

            <br />
            @foreach (var Entry in Model.ToppingCount)
            {
                @Html.Label("" + Entry.Key);
                @Html.CheckBoxFor(m => m.ToppingCount[Entry.Key]);
                <br />
            }

            <input type="submit" name="submit" value="Update pizza" />
            <input type="submit" name="submit" value="Proceed to checkout page" />
        }
    </div>



    <script>


    </script>
</body>
</html>
