
@using PizzaShopOnline.BAU.Site.Models;

@model PizzaShopOnline.BAU.Site.ViewModels.DeliveryPageViewModel;


<div class="row" id="center">

    <div class="text-center">
        <div class="header">
            <img src="@Model.PizzaImageUrl" alt="Selected Pizza Image" class="img" />
            <h2 class="content">@Model.PizzaName</h2>

        </div>

    </div>




    <div class="formA">


        @using (Html.BeginForm())
        {

            @Html.HiddenFor(m => m.PizzaImageUrl)
            @Html.HiddenFor(m => m.PizzaName)

            <table cellpadding="2" cellspacing="2" border="0" class="table">
                <tr class="table-group">
                    <td class="label">@Html.LabelFor(m => m.PizzaModelItems.Address, new { @class = "form-label" })</td>
                    <td>@Html.TextBoxFor(m => m.PizzaModelItems.Address, new { @class = "input" })</td>
                    <td>@Html.ValidationMessageFor(m => m.PizzaModelItems.Address, "", new { @class = "validation" })</td>

                </tr>



                <tr class="table-group">
                    <td class="label">@Html.LabelFor(m => m.PizzaModelItems.Name, new { @class = "form-label" })</td>
                    <td>@Html.TextBoxFor(m => m.PizzaModelItems.Name, new { @class = "input" })</td>
                    <td>@Html.ValidationMessageFor(m => m.PizzaModelItems.Name, "", new { @class = "validation" })</td>

                </tr>



                <tr class="table-group">
                    <td class="label">@Html.LabelFor(m => m.PizzaModelItems.Telephone, new { @class = "form-label" })</td>
                    <td>@Html.TextBoxFor(m => m.PizzaModelItems.Telephone, " ", new { @class = "input" })</td>
                    <td>@Html.ValidationMessageFor(m => m.PizzaModelItems.Telephone, "", new { @class = "validation" })</td>

                </tr>



                <tr class="table-group">
                    <td>&nbsp;</td>
                    <td><input type="submit" value="Submit" /></td>
                </tr>
            </table>
        }

    </div>

</div>



