
@{
    Layout = null;
}

@model PizzaShopOnline.BAU.Site.Models.Delivery;


<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/Style.css" />
    <title>Delivery Address Page</title>
</head>


<body>
    <div class="form">

        @using (Html.BeginForm("DeliveryForm", "Delivery"))
        {

            <div class="wrapper">

                <h2 class="heading">Delivery Address Page</h2>

                <div class="form-control">
                    <label for="Address" class="label">Address</label>
                    @Html.TextBoxFor(m => m.Address, "", new { @class = "input" })
                    @Html.ValidationMessageFor(m => m.Address, "", new { @class = "error" })
                </div>

                <div class="form-control">
                    <label for="Name" class="label">Name</label>
                    @Html.TextBoxFor(m => m.Name, "", new { @class = "input" })
                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "error" })
                </div>

                <div class="form-control">
                    <label for="Telephone" class="label">Telephone</label>
                    @Html.TextBoxFor(m => m.Telephone, "", new { @class = "input" })
                    @Html.ValidationMessageFor(m => m.Telephone, "", new { @class = "error" })
                </div>

                <input type="submit" value="Submit" class="btn btn-primary submit" />

            </div>
        }
    </div>
</body>





</html>
